<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title text-center">Approve</div>
      <div class="content">
        <a routerLink="approve" class="btn btn-success btn-block">Go</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title text-center">Create Hospital</div>
      <div class="content">
        <a routerLink="create" class="btn btn-success btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
