<div class="row">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">Handle Appointment</div>
      <div class="content">
        <a routerLink="appointment" class="btn btn-success btn-block">Go</a>
      </div>
    </div>
  </div>

  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-title">Change Skills</div>
      <div class="content">
        <a routerLink="skills" class="btn btn-success btn-block">Go</a>
      </div>
    </div>
  </div>
</div>
